/* Google Font: Montserrat (Font weight 700) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body font size: 15px */

:root {
  --veryLightGrayishBlue: #f6f6fe;
  --lightGrayishBlue: #b3b5c6;
  --grayishBlue: #6d708d;
  --darkGrayishBlue: #494c5f;
  --lightPurple: #a3a8f0;
  --darkPurple: #696fdd;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url('./assets/images/bg-top.svg') no-repeat;
  background-color: #f6f6fe;
  background-size: cover;
  background-position: 195px -50px;
}

/* The slider */
.slider {

  @apply absolute top-0 left-0 right-0 bottom-0 
  duration-300 bg-gradient-to-r cursor-pointer
  from-[#a3a8f0] to-[#696fdd] rounded-[2.125rem]
  hover:opacity-70
}

.slider:before {
  content: '';
  @apply h-[1.625rem] w-[1.625rem] bg-white cursor-pointer
  left-1 absolute bottom-1 duration-300 rounded-full
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Light card component */

.light-card {
  @apply w-full max-w-[375px] h-[500px] 
  flex flex-col text-center items-center 
  shadow-lg rounded-xl bg-white mb-6
  lg:mb-0
}

.light-card-name {
  @apply text-[#6d708d] text-lg mb-5
}

.light-card-price {
  @apply text-6xl text-[#494c5f] flex items-center
}

.light-card-details {
  @apply text-[#6d708d] text-lg py-4 w-full px-12
}

.light-card-button {
  @apply bg-gradient-to-r
  from-[#a3a8f0] to-[#696fdd]
  text-white w-full border max-w-[270px] 
  p-5 rounded-lg my-8 hover:text-[#696fdd]
  hover:from-white hover:to-white
  hover:border-[#696fdd]
}

/* Dark card component */

.dark-card {
  @apply w-full max-w-[375px] h-[500px] 
  flex flex-col text-center items-center 
  shadow-lg rounded-xl bg-gradient-to-r
  from-[#a3a8f0] to-[#696fdd] mb-6
  lg:mb-0 lg:scale-110
}

.dark-card-name {
  @apply text-white text-lg mb-5
}

.dark-card-price {
  @apply text-6xl text-white flex items-center
}

.dark-card-details {
  @apply text-white text-lg py-4 w-full px-12
}

.dark-card-button {
  @apply bg-white border text-[#696fdd] w-full 
  max-w-[270px] p-5 rounded-lg my-8 hover:bg-gradient-to-r
  hover:from-[#a3a8f0] hover:to-[#696fdd]
  hover:text-white
}