/* Google Font: Montserrat (Font weight 700) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%) */
/* Body font size: 15px */

:root {
  --veryLightGrayishBlue: #f6f6fe;
  --lightGrayishBlue: #b3b5c6;
  --grayishBlue: #6d708d;
  --darkGrayishBlue: #494c5f;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url('./assets/images/bg-top.svg') no-repeat;
  background-size: cover;
  background-position: 195px -50px;
}

/* Toggle button classes */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  /* -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px); */
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}