/* Google Font: Montserrat (Font weight 700) */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Body font size: 15px */

:root {
  --veryLightGrayishBlue: #f6f6fe;
  --lightGrayishBlue: #b3b5c6;
  --grayishBlue: #6d708d;
  --darkGrayishBlue: #494c5f;
  --lightPurple: #a3a8f0;
  --darkPurple: #696fdd;
}

body {
  font-family: 'Montserrat', sans-serif;
  background: url('./assets/images/bg-top.svg') no-repeat;
  background-color: #f6f6fe;
  background-size: cover;
  background-position: 195px -50px;
}

/* The slider */
.slider {

  @apply absolute top-0 left-0 right-0
  bottom-0 duration-300 bg-gradient-to-r
  from-[#a3a8f0] to-[#696fdd] rounded-[2.125rem]
}

.slider:before {
  content: '';
  @apply h-[1.625rem] w-[1.625rem] bg-white 
  left-1 absolute bottom-1 duration-300 rounded-full
}

input:checked + .slider:before {
  transform: translateX(26px);
}